# 1주차 스터디

1주차 수업에서는 데이터 분석을 하기 앞서, 데이터 분석을 하기 위한 언어인 python에 대해 간단히 알아보고, python을 효과적으로 활용할 수 있게 도와주는 도구인 jupyter notebook에 대해 알아보겠습니다.<br>

python을 해보신 분들은 1주차는 매우 쉬울 것입니다.

#### 1주차 스터디의 목차
- 입출력과 변수
- jupyter notebook 활용법
- 사칙연산과 데이터타입
- 주석처리와 함수구현
- list와 dictionary
- boolean과 조건문
- range()와 반복문

# 입출력과 변수

가장 기초적인 "Hello World 프로그램"을 입력하고 실행해 봅니다.<br>
간단하게 ``Hello World``라는 문장을 화면에 출력하는 프로그램입니다.<br>
아래의 코드를 입력하고 실행해 봅니다.<br>

```python
print("Hello World")
```

- **입력**은 아래의 ``In [ ]``으로 표현된 입력창(박스)안에 (위의) Python 프로그램을 타이핑하는 것을 의미하며,<br>
- **실행**은 Python 프로그램을 입력한 ``In [ ]``박스안에서, 상단 메뉴의 ``Run`` 단추를 누르거나 ``Control + Enter`` 버튼을 입력합니다. <br>
* Shift + Enter 버튼을 누르면 실행과 동시에 다음 셀로 넘어갑니다.

``print()`` 문법은 Python에서 괄호안의 내용을 화면에 출력합니다.<br>
위의 예제와 같이 ``"`` ``"`` 기호로 앞뒤를 감싼 문자열을 주면, 해당 문자열을 그대로 출력합니다.<br>

In [100]:
# Hello World를 출력해주세요
print("Hello World")

Hello World

jupyter notebook은 대화형 창으로 print를 하지 않고도 출력할 수 있습니다. <br> print를 쓰지 않고 본인의 이름을 출력해볼까요?

In [101]:
# 본인의 이름을 출력해주세요
"이상민"

'이상민'

변수란 매번 변하는 수로, 내가 지정한 이름을 어떠한 공간에 담아 매번 활용하게끔 해줍니다. 내 이름을 a라는 공간에 담아볼까요?

In [103]:
# a = "본인의 이름"
a = "이상민"
a

'이상민'

# jupyter notebook 단축키

- A : 위쪽에 셀 삽입
- B : 아래쪽에 셀 삽입
- X : 해당 셀 삭제
- Z : 삭제할 셀 복구
- ctrl + D : 해당 커서 라인 삭제
- ctrl + A : 해당 셀 전체 선택
- ctrl + Z : 셀 내용 복구
- ctrl + Enter : 셀 실행
- shift + Enter : 셀 실행 후 커서 아래쪽으로 이동

# 사칙연산과 데이터 타입

### 사칙연산
python의 연산자는 수학의 연산과 비슷합니다.<br>
하지만 곱하기는 * 를 사용하고, 나누기는 / 를 사용한다는 것만 유의하면 됩니다. <br>

한 단계 더 나아가자면 //는 몫을 출력하고, %는 나머지를 출력합니다.
```python
4 + 13
15 - 3
11 / 2
11 // 2
8.5 % 3.5
```

In [104]:
# 5 + 3
5 + 3

8

In [105]:
# 11 // 2
11 // 2

5

In [106]:
# 10 % 3
10 % 3

1

### 데이터 타입 이해하기

프로그래밍 언어는 다양한 데이터 타입을 제공합니다. <br> 중요한 데이터 타입은 정수(integer), 실수(float), 문자(str)이므로 이 세개는 꼭 외워주세요!

In [107]:
# type(17)
type(17)

int

In [108]:
# type(17.0)
type(17.0)

float

In [109]:
# type("파이썬")
type("파이썬")

str

In [110]:
# type("17")
type("17")

str

!주의 : 문자와 숫자는 연산할 수 없다.

In [111]:
# 17 + "이상민"
17+"이상민"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [112]:
# 17 + "17"
17 + "17"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 주석 처리와 함수 구현

### 주석 처리

코드를 남들과 공유할 때, 이 코드가 어떤 의미를 담고 있는지 알려주기 위해 '주석'이란 것 활용합니다. 주석은 '#'의 형태를 나타내고 있고, 주석을 적어놓으면 본인의 코드를 나중에 다시 볼 때도 좋겠죠?

In [ ]:
print("Hello World") # hello world를 출력

In [113]:
# 위의 코드를 따라쳐주세요
print("Hello World") # hello world를 출력

Hello World

### 함수 구현

수학에서 y = ax + b와 같이 파이썬에서도 함수라는 것이 있습니다. <br>
외장함수와 내장함수, 사용자 지정함수가 있는데 사용자 지정 함수는 아래와 같은 형태로 만들 수 있습니다.

In [14]:
def average(a, b, c):
    average = (a + b + c) / 3 # a,b,c의 평균
    return average

In [114]:
# 위에 코드를 따라 쳐 주세요
def average(a, b, c):
    average = (a + b + c) / 3 # a, b, c,의 평균
    return average

In [115]:
# average(2, 3, 5)
average(2, 3, 5)

3.3333333333333335

In [116]:
# average(1, 2, 3)
average(1, 2, 3)

2.0

# List와 dictinoary

값이 여러개 일 때 한 공간에 담을 수 있으면 정말 좋겠죠? <br>
python에서는 list와 dictionary, set이라는 자료구조가 있는데 list와 dictionary를 함께 알아보겠습니다.

### list 자료 구조
- 주의 : 첫 번째 값의 위치는 0번째
- ex) [1, 2, 3, 4, 5]

리스트 생성하기

In [121]:
# a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
# len(a)
len(a)

9

리스트 값 추가 및 삭제

In [122]:
# a.append(10)
a.append(10)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [123]:
# del a[9]
del a[9]

In [124]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list slicing

In [128]:
# a[:7]
# a[-1]
# a[0]
# a[::-1]
a[:7] # 0~6번째 값 출력, 1~7
a[-1] # 마지막값 출력
a[0] # 첫번째 값 출력
a[::-1] # 거꾸로 출력

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### dictionary 자료 구조
- key : value의 형태
- ex) {"name" : "이상민", "school" : "경희대", "age" : 24}

In [32]:
# dic = {"name":"이상민", "school":"경희대", "age":24}

In [130]:
dic = {"name":"이상민", "school":"경희대", "age":24}
dic

{'name': '이상민', 'school': '경희대', 'age': 24}

key를 통하여 value 접근하기

In [133]:
# dic["name"]
# dic["school"]
# dic["age"]
dic["name"]
dic["age"]

24

dictionary에 key, value 추가

In [134]:
# dic["region"] = "인천"
dic["region"] = "인천"

In [135]:
# dic
dic

{'name': '이상민', 'school': '경희대', 'age': 24, 'region': '인천'}

값(value) 변경하기

In [136]:
# dic["region"] = "서울"
dic["region"] = "서울"

In [137]:
# dic
dic

{'name': '이상민', 'school': '경희대', 'age': 24, 'region': '서울'}

# boolean과 조건문

boolean이란 참과 거짓을 의미하는 데이터 타입을 말합니다.<br>
형태는 True, False 두 가지의 값을 가지고 있습니다.

In [140]:
# 1 == 1
# 1 == 2
1 == 1
1 == 2
1 != 1

False

조건문은 말 그대로, 조건을 적은 후 참과 거짓을 판단합니다.<br>
형태는 if, elif(else if), else의 형태를 가지고 있습니다.

In [141]:
# if 1 == 1 :
    # print("같다")
if 1 == 1:
    print("같다")

같다

In [142]:
# if 1 == 2 :
     # print("같다")
# else:
    # print("같지 않다") 
if 1 == 2:
    print("같다")
else:
    print("같지 않다")

같지 않다

In [143]:
# a = 2
# if a == 1:
    # print("a는 1이다")
# elif a == 2:
    # print("a는 2이다")
# else:
    # print("a는 1도 2도 아니다")  
a = 2
if a == 1:
    print("a는 1이다")
elif a == 2:
    print("a는 2이다")
else:
    print("a는 1도 2도 아니다")

a는 2이다

# range(start, stop, step)와 for 반복문

range()는 범위를 나타냅니다.<br> 
range(10)과 같이 적을 시에는 start와 step이 생략되어 10이라는 숫자 전인 0~9까지 출력됩니다.

In [144]:
# for i in range(10):
    # print(i)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

range(1, 100, 2)과 같이 적을 시 1부터 99까지 2칸씩 움직인다.<br>
라고 생각해주시면 됩니다.

In [145]:
# for i in range(1, 100, 2):
    # print(i)
for i in range(1, 100, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99