# 2주차 스터디

2주차 수업에서는 python의 응용 핵심문법들을 공부하면서 필수 스킬(?)들을 익혀보겠습니다. 그리고 데이터 분석에서 쓰이는 자료형태인 Series와 DataFrame에 대해 알아보겠습니다.<br>

2주차부터는 살짝 어려워집니다:)

#### 2주차 스터디의 목차
- 중첩 for문
- list comprehension
- dictionary 응용
- series
- dataframe

# 중첩 for문

for문(반복문)이 하나 일 때는 for i in range(): 의 형태로 나타낼 수 있었습니다. 하지만 반복하는 변수가 여러 개 일 때는 중첩(다중) for문을 쓰게 됩니다. 중첩 for문은 아래와 같은 형태로 나타낼 수 있습니다.



```python
for i in range(5):
    for j in range(4):
        print(i, j)
```


```python
for i in range(5):
    print(i+1,"번째 반복문","i:",i)
    for j in range(4):
        print("j:",j)
```

In [485]:
# 중첩 for문 익혀보기

```python
for i in range(5):
    for j in range(4):
        print(i + j, end = " ")
    print()
```

In [486]:
# 2차원 배열 만들기

# list comprehension(내포)

소프트웨어는 적은 자원으로 높은 효율을 낼 경우 최적화가 잘 되었다고 합니다. 최적화의 척도는 보통, 메모리를 적게 사용하거나 실행시간이 적은 경우를 말합니다. 나중에 데이터 분석을 할 때도 수 많은 데이터들을 처리하고 연산하게 되는데, 메모리 공간의 사용과 실행속도는 매우 중요하겠죠? 또한 어느 코드를 짜든 직관적인 코드와 빠른 실행속도는 도움이 됩니다.

앞서 말한 해결방안으로 python의 list comprehension은 for문과 if문을 한 라인에 작성하여 코드를 직관적으로 만들고, 실행속도를 향상시키는 기법입니다.

#### list comprehension 적용 X 코드

```python
num = [1, 2, 3, 4, 5]
double_num = []
for i in num:
    double_num.append(2*i)
double_num
```

```python
num = [1, 2, 3, 4, 5]
square_num = []
for i in num:
    square_num.append(i*i)
square_num
```

#### list comprehension 적용 O 코드

- 형태 : 리스트 명 = [표현식 for 변수 in 반복 대상]

```python
num = [1, 2, 3, 4, 5]
double_num = [2*i for i in num]
double_num
```

```
square_num = [i*i for i in num]
square_num
```

### list comprehension에 조건(if) 추가하기

#### list comprehension 적용 X 코드

```python
num = [1, 2, 3, 4, 5]
double_odd_num = []
for i in num:
    if (i % 2 == 1):
        double_odd_num.append(2*i)
double_odd_num
```

#### list comprehension 적용 O 코드

- 형태 : 리스트 명 = [표현식 for 변수 in 반복 대상 if 조건문]

```python
num = [1, 2, 3, 4, 5]
double_odd_num = [2*i for i in num if (i% 2 == 1)]
double_odd_num
```

# dictionary 응용

저번 시간에 dictionary의 기초에 대해 배웠습니다.<br> 이번 시간은 dictionary에서 많이 쓰이는 함수와, for문과 같이 연계하는 법을 배워보겠습니다.

#### dictionary 함수

In [487]:
# dic = {"name":"이상민", "school":"경희대", "age":24}

In [488]:
# dic.keys()

In [489]:
# dic.values()

In [490]:
# dic.items()

#### dictionary key, value 탐색하기

- key 탐색

```python
for i in dic.keys():
    print(i)
```

- value 탐색

```python
for i in dic.keys():
    print(dic[i])
```

```python
for i in dic.values():
    print(i)
```

- key, value 동시 탐색

- 정렬하기

In [491]:
# dic={'a':2, 'b':3, 'c':1, 'd':7, 'e':5}

In [492]:
# sorted(a, key = lambda x : 정렬 기준)

# sorted(dic.items(), key=lambda x:x[0])
# sorted(dic.items(), key=lambda x:x[1])

# Series

데이터 분석을 할 때, 많이 보게 되는 데이터 구조가 있습니다. 바로 Series와 DataFrame입니다.<br>

앞서 배운 list와 dictionary는 1행(가로행)으로 배열되어 있어 사람이 데이터를 보고 파악하기 힘듭니다. 그래서 행과 열이라는 형태로 나타내기 위해 Series와 DataFrame이 만들어졌습니다.<br>

먼저 Series에 대해 알아보겠습니다. Series를 이해하기 위한 가장 좋은 예시는 excel시트의 열 하나를 떠올리는 겁니다. 하지만 excel과 달리 Series는 행의 이름(index)와 열의 이름(column)을 원하는 대로 입력할 수 있습니다.

#### 패키지 불러오기

- import 패키지이름 as 축약

In [112]:
# 아래 두 개는 데이터 분석할 때, 습관처럼 입력
import numpy as np
import pandas as pd

#### Series 생성하기

#### 1) list
- Series([data value], index=[data index])

#### 2) dictionary
- Series({data index : data value})

In [493]:
# data1 = pd.Series([3,5,1,2])

In [494]:
# 사전 타입의 데이터로 Series 생성
# data2 = pd.Series({'a':3, 'b':15, 'c':5, 'd':35})

In [495]:
# 값은 모든 데이터 타입 가능
# data3 = pd.Series(['big data', 30, [1,2,3]])

In [496]:
# Series 생성할 때 index 같이 생성
# data4 = pd.Series([3,15,5,35], index=['a','b','c','d'])

#### Series 필수 함수

In [497]:
# data2

In [498]:
# type(data2) : data의 타입 확인

In [499]:
# dtypes : data 형태 반환
# data2.dtypes

In [500]:
# size : 크기 반환
# data2.size

In [501]:
# Series.index : series index
# data2.index -> index를 뽑아내고 싶으면
# data2.index = ['1', '2', '3','4']

In [502]:
# list('ABCDE')

In [503]:
# data4 = pd.Series([10, -2, 3.5, 4.0, 8.0], index=list('ABCDE'))

In [504]:
# values : 값 반환
# data4.values

- 보통 수학과 관련된 함수에는 ()가 붙는다

In [505]:
# abs() : 절댓값

In [506]:
# max() : 최댓값

In [507]:
# min() : 최솟값

In [508]:
# mean() : 평균

In [509]:
# append()
# data4.append(pd.Series({'F':2}))

In [510]:
# add() # 모든 요소에 더하기

In [511]:
# describe()

#### Series 데이터 접근하기

In [512]:
# index 숫자로 접근
# python index는 0부터 시작
# data4[2]

In [513]:
# index label로 Series 접근
# data4['C']

In [514]:
# 숫자인덱스가 1,3,5인 항목 조회
# data4[ [0,2,4] ]

#### Series 응용

In [515]:
# list('abcdefghij')

In [516]:
# data5 = pd.Series([10,20,30,40,50,60,70,80,90,100], index=list('abcdefghij'))

In [517]:
# data5 = pd.Series([x for x in range(10,101,10)], index=list('abcdefghij'))

In [518]:
# 'a','c','f' 만 조회
# data5[ ['a','c','f'] ]

In [519]:
# 숫자 인덱스가 2,3,4,5인 항목 선택
# data5[ [2,3,4,5] ]
# data5[2:6]

In [520]:
# 맨 앞에 있는 5개의 항목 선택
# data5[ :5 ]

In [521]:
# 뒤에서 2번째 항목 선택
# data5[-2]
# data5[-2:-1]

In [522]:
# 가장 뒤에 있는 3개의 항목 선택
# data5[-3:]

In [523]:
# 뒤에서 3번째, 2번째 불러오기
# data5[-3:-1]

In [524]:
# index
# 반환형이 list
# data5.index[:2]

In [525]:
# 인덱스 라벨이 'c'부터 'g'까지 항목 선택
# data5['c':'g']

In [526]:
# 데이터 값이 70이상인 데이터만 불러오기
# data5 >= 70
# data5[data5 >= 70]

In [527]:
# 값이 30보다 크거나 같고, 70보다 작은 항목만 선택
# data5[(data5>=30) & (data5 < 70)]

In [528]:
# data6 = pd.Series([10, -2, 3.5, 4.0, 8.0], index=list('ABCDE'))

In [529]:
# loc(ation)
# data6.loc['C']

In [530]:
# i(ndex)loc
# data6.iloc[2]

# DataFrame

Series가 열 한개라면, DataFrame은 여러 열을 모아놓은 것을 말한다.

## 데이터프레임 생성
### 생성자 인자
- 1) data : dataFrame에 저장할 데이터
- 2) index : 행(row) 이름, 기본값 = 0부터 1씩 증가하는 정수
- 3) columns : 열(column) 이름, 기본값 = 0부터 1씩 증가하는 정수
- 4) dtype : 데이터 형태(type), 만약 지정하지 않으면 파이썬이 자동으로 값의 형태를 보고 결정
- 5) copy : 입력 데이터를 복사할지 지정. 디폴트는 False 임. (복사할 거 아니면 메모리 관리 차원에서 디폴트인 False 설정 사용하면 됨)

In [531]:
# 1. 2차원 데이터 생성
# data = pd.DataFrame([ [1, 'kim', 26], [2, 'lee', 27] ])

In [532]:
# row index 설정
# data.index = ['A', 'B']

In [533]:
# column index 설정
# data.columns = ['순서', '이름', '나이']

```python
pd.DataFrame(data=[ [1, 'kim', 26], [2, 'lee', 27] ],
                     index=['A','B'],
                     columns=['order','name','age'])
```

In [534]:
# 1,2,3 한꺼번에 하기

```python
population_dic = {'서울':[1053.5, 1023, 987],
                  '경기':[1023, 1067, 1123],
                  '충청':[512, 489, 487],
                  '경상':[897, 872, 811],
                  '전라':[451, 421, 399] }
population_dic
```

In [535]:
# 사전 타입 데이터를 이용하여 데이터 프레임 생성하기

In [536]:
# data2 = pd.DataFrame(population_dic)

In [537]:
# row index를 2015, 2016, 2017로 만들기
# data2.index = [x for x in range(2015, 2018)]

## DataFrame 속성 조회하기 (속성을 조회할 때에는 ()를 사용하지 않으니 유의하기 바람.)

In [538]:
# T (Transpose) : 행과 열을 바꾸기.
# data2.T

In [539]:
# axes : 행과 열 이름을 리스트로 반환
# data2.axes

In [540]:
# dtypes : 데이터 형태 반환
# data2.dtypes

In [541]:
# 참고
# float64 -> int64 data type 변경
# data2['서울'] = data2['서울'].astype('int64')

In [542]:
# shape : 행과 열의 개수(차원)을 튜플로 반환
# shape[0]행, shape[1]열

In [543]:
# size : DataFrame의 원소의 개수를 반환

In [544]:
# index : 데이터프레임의 인덱스를 리스트로 반환

In [545]:
# columns : 데이터프레임의 컬럼을 리스트로 반환

In [546]:
# values : 데이터프레임의 값들을 반환

#### DataFrame 값 접근하기

- 행 접근

In [547]:
# 숫자 인덱스 하나 쓰면 접근X
# data2[2]

In [548]:
# index slicing은 가능
# data2[:2]

```python
df = pd.DataFrame( {'Class' : ['loT', 'Network', 'Economy', 'Big Data', 'Cloud'],
                      'Year' : [ 2018, 2017, 2018, 2018, 2019],
                      'Price' :[100, 125, 132, 312, 250],
                      'Location' : ['Korea', 'Korea', 'Korea', 'US', 'France']},
                      index = ['C01', 'C02', 'C03', 'C04', 'C05'])

```

In [571]:
df = pd.DataFrame( {'Class' : ['loT', 'Network', 'Economy', 'Big Data', 'Cloud'],
                      'Year' : [ 2018, 2017, 2018, 2018, 2019],
                      'Price' :[100, 125, 132, 312, 250],
                      'Location' : ['Korea', 'Korea', 'Korea', 'US', 'France']},
                      index = ['C01', 'C02', 'C03', 'C04', 'C05'])

In [549]:
# index label 하나로 접근 x
# df['CO1']

- 열 접근

In [550]:
# 열로 접근하고 싶으면 column명을 직접 입력
# Price 정보만 조회하기
# df['Price']

In [551]:
# Class와 Year 컬럼만 조회
# 여러 개의 컬럼들을 조회하기 위해서는 컬럼명들을 리스트로 선언해야 함.
# df[['Class','Year']]

#### loc를 통한 접근
loc는 특정 name을 지정해줘야함

- 행 접근

In [552]:
# 행을 row로 접근하여 조회하기
# row index가 'C04'인 경우만 조회하기
# df.loc['C01']

In [553]:
# row label로 slicing (start index와 end index 모두 포함)
# :로 접근
# df.loc['C01':'C03']

In [554]:
# C01, C03 추출
#loc를 생략하면 KeyError 발생
# df.loc[['C01','C03']]

- 열 접근

In [555]:
# Price 정보만 조회하기
# df.loc[:,'Price'] # = df['Price']

In [556]:
# Class와 Year 컬럼만 조회
# df.loc[:,['Class','Year']] # df[['Class','Year']]

In [557]:
# 특정 컬럼과 로우를 동시에 인덱싱하기
# C02, C03 강의의 Class와 Year, Price 정보만 조회
# df.loc[ ['C02', 'C03'], ['Class','Year','Price']]

#### iloc를 통한 접근
i는 index를 의미하며 숫자를 통해 접근

- 행 접근

In [558]:
# 행을 숫자 index로 접근하여 조회하기 (iloc)
# df.iloc[2]

In [559]:
# row index로 slicing (start index와 end index 모두 포함)
# df.iloc[:2]

- 열 접근

In [560]:
# Class와 Year, Price 정보만 조회
# df.iloc[:, :3]

In [561]:
# C02, C03 강의의 Class와 Year, Price 정보만 조회
# df.iloc[1:3, :3]

#### 조건 indexing

In [562]:
# Price의 값이 200보다 큰 경우만 조회하기
# df[df['Price']>200]

In [563]:
# 아래 결과들이 출력되도록 코드를 완성하시오.
# 실습 1. 'Location' 컬럼만 조회

# 그냥 접근
# df['Location']

# loc를 통해 접근
# df.loc[:,'Location']

# iloc를 통해 접근
# df.iloc[:,3:]

In [564]:
# 실습 2. 'Class'와 'Price' 컬럼만 조회

# 그냥 접근
# df[['Class','Price']]

# loc를 통해 접근
# df.loc[:,['Class','Price']]

# iloc를 통해 접근
# df.iloc[:,[0,2]] #행 접근할 때 많이 쓰임

In [589]:
# 실습 3. C01과 C03 강의의 모든 컬럼 조회

# 그냥 접근
df[ ['Class','Price'] ]

# loc를 통해 접근
# df.loc[['C01','C03'],:]

# iloc를 통해 접근
#df.iloc[[0,2],:]

        Class  Price
C01       loT    100
C02   Network    125
C03   Economy    132
C04  Big Data    312
C05     Cloud    250

In [310]:
# 실습 4. C01~C03 강의의 Class와 Price만 조회


# loc를 통해 접근
# df.loc['C01':'C03',['Class','Price']]

# iloc를 통해 접근
# df.iloc[:3,[0,2]]

In [311]:
# 실습 5. Year가 2018이고, Price가 200 미만인 강의만 조회
# df[(df.Year == 2018) & (df.Price<200)]

#### 데이터프레임에 새로운 컬럼 추가하기

In [565]:
# numStudent 컬럼 추가하고, 값을 10으로 저장
# df['numStudent'] = 10

In [566]:
# numStudent 의 값을 15, 30, 26, 32, 50으로 변경
# df['numStudent'] = [15,30,26,32,50]

In [567]:
# Price과 numStudent의 값을 곱한 값을 'Income'라는 새 컬럼으로 추가
# df['income'] = df['Price'] * df['numStudent']

#### 데이터프레임 로우, 컬럼 삭제

drop(['지우고자 하는 인덱스명', axis=1])<br>
원본변경x <br>
axis=0 이면 로우 삭제, axis=1 컬럼 삭제<br>
axis는 축

In [568]:
# df.drop(['numStudent'],axis=1)

In [570]:
# 'Income' 컬럼 삭제

In [483]:
# inplace=True option 부여