# Q1. 피라미드 만들기
ex)<br>
   1<br>
  111<br>
 11111<br>
1111111<br>

In [4]:
# 위 예시와 같은 피라미드를 출력해주세요.
for i in range(1,9,2):
    print(i*"1")

1
111
11111
1111111

# Q2. 구구단(2단) 만들기
ex) <br>
2 * 1 = 2<br>
2 * 2 = 4<br>
2 * 3 = 6<br>
2 * 4 = 8<br>
2 * 5 = 10<br>
2 * 6 = 12<br>
2 * 7 = 14<br>
2 * 8 = 16<br>
2 * 9 = 18<br>

In [8]:
# 구구단 2단을 출력해주세요.
for i in range(1, 10):
    print("2 *", i , "=" , 2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# Q3. list에 익숙해지기

Q3-1 : ["연어초밥", "신라면", "어몽어스", "파스타"] list를 food라는 변수에 담아주세요

In [12]:
# 이 셀은 예시입니다. 셀 작성은 아래 셀에서 진행해주세요

['연어초밥', '신라면', '어몽어스', '파스타']

In [10]:
food = ['연어초밥', '신라면', '어몽어스', '파스타']
food

['연어초밥', '신라면', '어몽어스', '파스타']

Q3-2 : "연어초밥","신라면" 두 개의 값만 추출해주세요

In [9]:
# 이 셀은 예시입니다. 셀 작성은 아래 셀에서 진행해주세요

['연어초밥', '신라면']

In [12]:
food[:2]

['연어초밥', '신라면']

Q3-3 : "어몽어스"를 list에서 삭제해주세요

In [13]:
# 이 셀은 예시입니다. 셀 작성은 아래 셀에서 진행해주세요

['연어초밥', '신라면', '파스타']

In [13]:
del food[2]

In [14]:
food

['연어초밥', '신라면', '파스타']

# Q4. 1~50 사이의 홀수 출력
- 힌트 : range사용

In [15]:
# 1~50 사이 홀수를 출력해주세요.
for i in range(1, 51, 2): # 주의 결과는 같게 나오나, range(1, 50, 2)하면 1~49사이의 홀수
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# Q5. 1~200 사이의 짝수 출력
- 조건 : If문 최소 한 번 사용

In [16]:
# 1~200 사이 짝수를 출력해주세요. (if문 최소 한 번 사용)
for i in range(1, 201):
    if (i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200