# Q1. 피라미드 만들기
ex)<br>
   1<br>
  111<br>
 11111<br>
1111111<br>

In [1]:
# 위 예시와 같은 피라미드를 출력해주세요.
for i in range(1, 9, 2):
    print(i*"1")

1
111
11111
1111111

# Q2. 구구단(2단) 만들기
ex) <br>
2 * 1 = 2<br>
2 * 2 = 4<br>
2 * 3 = 6<br>
2 * 4 = 8<br>
2 * 5 = 10<br>
2 * 6 = 12<br>
2 * 7 = 14<br>
2 * 8 = 16<br>
2 * 9 = 18<br>

In [2]:
# 구구단 2단을 출력해주세요.
for i in range(1, 10):
    print("2 *",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# Q3. list에 익숙해지기

Q3-1 : ["연어초밥", "신라면", "어몽어스", "파스타"] list를 food라는 변수에 담아주세요

In [12]:
# 이 셀은 예시입니다. 셀 작성은 아래 셀에서 진행해주세요

['연어초밥', '신라면', '어몽어스', '파스타']

In [3]:
food = ['연어초밥', '신라면', '어몽어스', '파스타']

Q3-2 : "연어초밥","신라면" 두 개의 값만 추출해주세요

In [9]:
# 이 셀은 예시입니다. 셀 작성은 아래 셀에서 진행해주세요

['연어초밥', '신라면']

In [5]:
food[:2]

['연어초밥', '신라면']

Q3-3 : "어몽어스"를 list에서 삭제해주세요

In [13]:
# 이 셀은 예시입니다. 셀 작성은 아래 셀에서 진행해주세요

['연어초밥', '신라면', '파스타']

In [6]:
del food[2]

In [7]:
food

['연어초밥', '신라면', '파스타']

# Q4. 1~50 사이의 홀수 출력
- 힌트 : range사용

In [10]:
# 1~50 사이 홀수를 출력해주세요.
for i in range(1, 51, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# Q5. 1~200 사이의 짝수 출력
- 조건 : If문 최소 한 번 사용

In [11]:
# 1~200 사이 짝수를 출력해주세요. (if문 최소 한 번 사용)
for i in range(1, 201):
    if (i & 2 == 0):
        print(i)

1
4
5
8
9
12
13
16
17
20
21
24
25
28
29
32
33
36
37
40
41
44
45
48
49
52
53
56
57
60
61
64
65
68
69
72
73
76
77
80
81
84
85
88
89
92
93
96
97
100
101
104
105
108
109
112
113
116
117
120
121
124
125
128
129
132
133
136
137
140
141
144
145
148
149
152
153
156
157
160
161
164
165
168
169
172
173
176
177
180
181
184
185
188
189
192
193
196
197
200